@import "tailwindcss";
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App root must fill viewport */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Default readable text color */
body {
  background-color: #ffffff;
  color: #111827; /* neutral-900 */
}
